.card {
  width: 270px;
}

.card__image {
  width: 270px;
  height: 151px;
  border-radius: 6px;
}

.card__description {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 29px;
  margin-top: 14px;
}

.card__name {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__duration {
  display: block;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #a0a0a0;
  padding-top: 6px;
  border-top: 1px solid #E8E8E8;
}

.card__liked {
  background-image: url('../../images/liked-icon.svg');
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  background-repeat: no-repeat;
}

.card__notliked {
  width: 21px;
  height: 21px;
  background-image: url("../../images/notliked-icon.svg");
  border: none;
  border-radius: 50px;
  cursor: pointer;
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .card {
    width: 339px;
  }

  .card__image {
    width: 339px;
    height: 190px;
  }

}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .card {
    width: 300px;
  }

  .card__image {
    width: 300px;
    height: 168px;
  }

  .card__description {
    margin-top: 15px;
  }

  .card__name {
    font-size: 12px;
    line-height: 15px;
  }
}
