<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./Profile.css" />
    <title>Profile</title>
</head>

<body>
<section>
    <Header loggedIn={loggedIn} />
    <div class='profile__container'>
      <h1 class='profile__title'>Привет, {currentUser.name}!</h1>
      <form class='profile___form form' onSubmit={handleSubmit}>
        <div class='profile__value'>
          <label class='profile__label'>Имя</label>
          <input
            type='text'
            name='name'
            value={enteredValues.name || ''}
            onChange={handleChange}
            class='profile__input'
            required
          />
        </div>
        <div class='profile__line'></div>
        <div class='profile__value'>
          <label class='profile__label'>
            E-mail
          </label>
          <input
            type='email'
            name='email'
            value={enteredValues.email || ''}
            onChange={handleChange}
            class='profile__input'
            required
          />
        </div>
        <div class='profile__bottom'>
          <button
            class='profile__edit'
            type='submit'
            disabled={isValueSameAsWas}
          >
            Редактировать
          </button>
          <button
            class='profile__logout'
            type='button'
            onClick={() => onSignOut()}
          >
            Выйти из аккаунта
          </button>
        </div>
      </form>
    </div>
  </section>

</body>