<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./NotFound.css" />
    <title>Путешествия по России</title>
  </head>

  <body>
    <div class="notfound__container">
      <div class="notfound__block">
        <span class="notfound__status">404</span>
        <span class="notfound__text">Страница не найдена</span>
      </div>
      <button onClick class="notfound__back">Назад</button>
    </div>
  </body>
</html>
